html{
    font-size: 62.5%;
}
a{
    display: inline-block;
    padding: 5rem 15rem;
    margin: 10rem 5rem;
    font-size: 3rem;
    font-weight: 700;
    text-decoration: none;
    font-family: "Roboto";
    background-color: blueviolet;

}
.box{
    box-sizing: border-box;
    width: 20rem;
    height: 30rem;
    background-color: #ffa400;
    color: blue;
    border: yellow 3px solid;
    padding: 1rem;
    margin: 1.5rem;
    border-radius: 4px;
    text-align: center;
    font-size: 2rem;
}
.bai4{
    width: 60vw;
    height: 60vh;
    background-image: url("https://64.media.tumblr.com/5bad4336ac5fba88f04b330e6ffbf5a1/e88759644fe2a2d6-69/s2048x3072/64d94775edccae16949fee70fef9a6f4beb315ed.jpg");
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
}
.bai5{
    width: 40rem;
    height: 40rem;  
}
.img_bai5{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.bai23{
    width: 50rem;
    font-size: 2rem;
    /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden;


}

