html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: #ccc;
  font-size: 2rem;
  padding: 7rem;
}

.signup {
  border-radius: 1rem;
  box-shadow: 0 0 5px red;
  width: 100%;
  height: 100%;
  padding: 5rem;
  background-color: #f3f7ff;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}
.signup__content,
.signup__image {
  width: calc(50% - 4rem);
}
.signup__image-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.signup__heading {
  font-weight: bold;
  font-size: 4rem;
  color: #291667;
  margin-bottom: 3rem;
}
.signup__caption {
  color: #fa4c53;
  margin-bottom: 4rem;
  font-weight: bold;
  position: relative;
  padding-left: 12rem;
}
.signup__caption:before {
  content: "";
  position: absolute;
  width: 9rem;
  height: 0.2rem;
  background-color: #fa4c53;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.signup__social {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6rem;
}
.signup__social-item {
  display: flex;
  width: calc(50% - 2rem);
  padding: 1.5rem 2.5rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
}
.signup__social-icon {
  margin-right: 3rem;
}
.signup-form__label {
  display: block;
  margin-bottom: 1.5rem;
  cursor: pointer;
  margin-left: 1.5rem;
}
.signup-form__input {
  padding: 1.5rem 2.5rem;
  border: 1px solid #ccc;
  background-color: rgba(204, 204, 204, 0.1);
  border-radius: 1rem;
  font-size: 1.5rem;
  width: 100%;
  outline: none;
}
.signup-form__input:focus {
  background-color: white;
  border-color: #fa4c53;
}
.signup-form__input:focus + .signup-form__check-icon {
  background-color: #fa4c53;
  color: white;
}
.signup-form__term {
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.signup-form__checkbox {
  display: none;
}
.signup-form__submit {
  width: 7rem;
  height: 7rem;
  border-radius: 2rem;
  border: 1px solid #fa4c53;
  background-color: #fa4c53;
  font-size: 2.5rem;
  color: white;
  cursor: pointer;
  margin-bottom: 6rem;
  box-shadow: 0 10px 10px 0 rgba(250, 76, 83, 0.3);
}
.signup-form__check {
  position: relative;
}
.signup-form__check .signup-form__input {
  padding-right: 6rem;
}
.signup-form__check-icon {
  width: 3rem;
  height: 3rem;
  background-color: #ccc;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2rem;
}
.signup-form__item {
  width: 100%;
}
.signup__input {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 2.5rem;
}
.signup__input .signup-form__item {
  width: calc(50% - 2rem);
}
.signup-checkbox {
  display: none;
}
.signup-checkbox:checked + .signup-checkbox__label:before {
  background-color: #fa4c53;
}
.signup-checkbox:checked + .signup-checkbox__label:after {
  visibility: inherit;
  opacity: 1;
}
.signup-checkbox__label {
  position: relative;
  padding-left: 4.5rem;
  display: block;
  cursor: pointer;
}
.signup-checkbox__label:before {
  content: "";
  position: absolute;
  width: 3rem;
  height: 3rem;
  border: 1px solid #ccc;
  border-radius: 0.7rem;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.signup-checkbox__label:after {
  content: "";
  position: absolute;
  width: 1.8rem;
  height: 0.6rem;
  top: 0.5rem;
  left: 0.6rem;
  border-bottom: 2.5px solid white;
  border-left: 2.5px solid white;
  transform: rotate(-45deg);
  transition: all 0.25 linear;
  opacity: 0;
  visibility: hidden;
}
.signup__already a {
  color: #fa4c53;
}

@media screen and (max-width: 1439px) {
  body {
    height: 100vh;
  }

  .signup__content {
    width: calc(60% - 3rem);
  }
  .signup__image {
    width: calc(40% - 3rem);
  }
}
@media screen and (max-width: 1279px) {
  body {
    padding: 15rem;
    height: 100%;
  }

  .signup {
    padding: 3rem;
    flex-direction: column;
  }
  .signup__content {
    width: 100%;
  }
  .signup__image {
    display: none;
  }
  .signup__social {
    margin-bottom: 4rem;
  }
  .signup-form__submit {
    width: 6rem;
    height: 6rem;
    margin-bottom: 4rem;
  }
}
@media screen and (max-width: 1023px) {
  body {
    padding: 3rem;
    height: 100vh;
  }

  .signup {
    padding: 2rem;
  }
  .signup__heading {
    margin-bottom: 2rem;
  }
  .signup__social {
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 767px) {
  body {
    padding: 2rem;
  }

  .signup {
    padding: 1.5rem;
    flex-direction: column;
  }
  .signup__heading {
    margin-bottom: 2rem;
  }
  .signup__social {
    margin-bottom: 3rem;
  }
  .signup-form__submit {
    width: 6rem;
    height: 6rem;
    margin-bottom: 4rem;
  }
  .signup-checkbox__label:after {
    top: 1.2rem;
    width: 1.6rem;
    height: 0.6rem;
  }
}
@media screen and (max-width: 479px) {
  body {
    padding: 2rem;
    height: 100%;
    font-size: 1.5rem;
  }

  .signup {
    padding: 1.5rem;
    flex-direction: column;
  }
  .signup__heading {
    margin-bottom: 2rem;
  }
  .signup__social {
    margin-bottom: 3rem;
    flex-direction: column;
  }
  .signup__social-item {
    width: 100%;
    margin-bottom: 1rem;
  }
  .signup-form__submit {
    width: 5rem;
    height: 5rem;
    margin-bottom: 3rem;
  }
  .signup-form__term {
    margin-top: 2.5rem;
    margin-bottom: 3rem;
  }
  .signup__input {
    flex-direction: column;
    margin-bottom: 0;
  }
  .signup__input .signup-form__item {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .signup-checkbox__label:before {
    width: 2.5rem;
    height: 2.5rem;
  }
  .signup-checkbox__label:after {
    top: 0.9rem;
    width: 1.4rem;
    height: 0.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
