html {
  font-size: 62.5%;
}
body {
  margin: 2rem 2rem;
}
*{
  box-sizing: border-box;
}
input,button,select{
  font-family: "Poppins";
}
.checkbox {
  font-size: 2rem;
  margin-bottom: 5rem;
  &__input {
    display: none;
    &:checked + .checkbox__label:after {
      opacity: 1;
      visibility: visible;
    }
  }
  &__label {
    padding-left: 3rem;
    position: relative;
    cursor: pointer;
    &:before {
      content: "";
      position: absolute;
      width: 2rem;
      height: 2rem;
      border-radius: 0.5rem;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-color: red;
    }
    &:after {
      content: "";
      position: absolute;
      width: 1rem;
      height: 0.5rem;
      border-bottom: 3px solid white;
      border-left: 3px solid white;
      transform: rotate(-45deg);
      top: 25%;
      left: 4px;
      opacity: 0;
      transition: all 0.5s linear;
      visibility: hidden;
    }
  }
}
.radio {
  font-size: 2rem;
  &__input {
    display: none;
    &:checked + .radio__label:before {
      background-color: red;
      box-shadow: 0 0 0 4px#fff, 0 0 0 5px red;
    }
  }
  &__label {
    position: relative;
    cursor: pointer;
    padding-left: 4rem;
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 2rem;
      height: 2rem;
      background-color: #eee;
      border-radius: 50%;

      box-shadow: 0 0 0 4px#eee, 0 0 0 5px#B7C1CB;
      transition: all 0.1s ease;
    }
  }
}
.file {
  margin-top: 5rem;
  font-size: 1.5rem;
  border: 1px solid red;
  background-color: pink;
  border-radius: 1rem;
  position: relative;
  width: 5rem;
  height: 5rem;
  &__input {
    display: none;
  }
  &__label {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
  }
}

.checkbox__toggle {
  margin-top: 5rem;
  &--input {
    display: none;
    &:checked + .checkbox__toggle--label {
      background-color: #7f6cfa;
      .checkbox__toggle--spin{
        left:92px;
      }
    }
  }
  &--label {
    display: inline-block;
    margin-top: 5rem;
    width: 12rem;
    height: 3rem;
    background-color: #ccc;
    border-radius: 2rem;
    position: relative;
    cursor: pointer;
  }

  &--spin {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: white;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    transition: 0.25s linear;
  }
}

.input__style{
  margin: 2rem auto;
  width: 30rem;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 0.8rem;
  display: block;
 
  border: 2px solid #ccc; 
  outline: none;
  &:focus{
    border-color: #E55371;
    color: plum;
    box-shadow: 0 0 4px red;
  }
}
.button__style{
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 1.6rem;
  padding: 1rem;
  width: 30rem;
  outline: none;
  border: 2px solid red; 
  background-color: #E55371;
  cursor: pointer;
  box-shadow: 0 5px 5px blue;
  font-weight: 600;
  color: white;
  &:active{
    transform: translateY(2px);
    box-shadow: 0 2px 5px blue;
  }
}

