$green-color: #11ad82;
html {
  font-size: 62.5%;
}
.workout {
  width: 60%;
  padding: 2rem;
  margin: 0 auto;
}
.work__heading {
  font-size: 2rem;
  font-weight: 500;
  position: relative;
  padding-bottom: 1.5rem;
  margin-bottom: 3rem;
  text-transform: capitalize;
  // chữ cái đầu viết hoa
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 4rem;
    height: 0.5rem;
    background-color: #11ad82;
    border-radius: 5px;
  }
}
.work-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  text-align: center;
  &__list {
    display: flex;
  }
  &__item {
    cursor: pointer;
    font-size: 1.7rem;
    padding: 1rem 1.5rem;
    text-align: center;
    border-radius: 2rem 0 2rem 2rem;
    border: 1px solid $green-color;
    transition: all 0.5s ease;
    &:not(:first-child) {
      margin-left: 2rem;
    }
    &:hover {
      background-color: $green-color;
      color: white;
    }
  }
}
.all-work {
  display: inline-block;
  text-decoration: none;
  color: $green-color;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #b6d7cc;
  font-size: 1.4rem;
}
.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -2rem;
}
.work-item {
  width: calc(25% - 2rem);
  height: 25rem;
  border-radius: 5px;
  overflow: hidden;
  margin-left: 2rem;
}
.work-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


@media screen and (max-width: 1365px) {
    .workout{
        width: 90%;
      }
  .work {
    &-item {
      width: calc(50% - 2rem);
      margin-bottom: 1.5rem;
    }
  }
}
// @media screen and (max-width:767px) and (max-width:767px)
// @media screen and (max-width:767px) , (max-width:767px) ----> OR
@media screen and (max-width:767px) {
    .workout{
        width: 90%;
    }
    .work{
        &-item{
            width: 100%;
            margin-bottom: 1rem;
        }
        &-filter{
            flex-direction: column;
            &__list{
                flex-wrap: wrap;
                justify-content: center;
            }
            &__item{
                margin-bottom: 1rem;
            }
           
        }
        &-list{
            margin-top: 3rem;
        }
    }
}
